
.para {
    color: var(--text-sec-color);
    font-size: 1.37rem;
    width: 353px;
    font-weight: 700;

}
.head-title{
    color: var(--text-pri-color);
    font-size: 8rem;
}

section{
    height: 100vh;
    padding: 20px;
    
}

.hero-section{
    height: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-start {
    font-size: 2rem;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(66, 66, 66);

    &:hover{
        background-color: rgb(85, 84, 84);
    }
}

.btn-start a {
    color: yellow;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: inline-block;
    align-content: center;
    text-decoration: none;
}

/* second section */

.section-2{
   padding-inline: 100px;
    text-align: center;
    display: flex;
    align-items: center;
}

.section-2 p:nth-child(1){
    font-size:4rem;
    font-weight: 500;
    margin-bottom: 40px;
}
.section-2 p:nth-child(2){
    font-size: 3rem;
}