*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user_profile{
  padding: 2rem;
  /* background-color: var(--secondary-color); */
  display: grid;
  grid-template-columns: repeat(3, 33%);
  place-items: center;
}

.user_avatar{
  place-items: center;
}
.user_avatar > img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: grey;
}

.user_profile_middle_section{
  padding: 10px;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0);
  /* background-color: red; */
}

.user_profile_options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    /* height: 1rem; */
    /* min-height: 100px; */
    color: var(--font-color);
    border-top: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
    place-items: center;
}

.user_profile_options div{
   padding:.7rem 3rem;
    
   &:hover{
    background-color: var(--secondary-color);
   }
}
/* .user_profile_options div:hover{
    background-color: rgba(90, 0, 0, 0.96);
} */

.user_profile_options_display{
    /* background-color: grey; */
    display: flex;
    flex-direction: row;
    /* color: grey; */
    min-height: 50vh;
    /* color: var(--secondary-color); */
    font-size: 1.4rem;
    /* font-family: cursive; */
    font-weight: 600;
    padding: 2rem 4rem;
}

.options_page{
    width: 100vw;
    display: none;
    /* overflow-x: auto; */
}

.options_page {
  display: none;
  
}
.options_page.active {
  display: block;
}

.options {
  cursor: pointer;
}

.options.active {
  font-weight: bold;
  background-color: var(--secondary-color);
}

/* .option_materials{
  padding: 2rem;
  
} */

.option_material_card{
  /* border-bottom: 1px solid black; */
  margin-block: 1rem;
}

.option_material_details, .grid_layout, .option_material_header {
  display: grid;
  place-items: start ;
  grid-template-columns: repeat(3, 1fr);
  color: var(--font-color);
  /* place-content: center; */
}

.option_material_details{
  padding: 2px;
  cursor: pointer;
  &:hover{
    background-color: rgba(82, 82, 82, .2);
  }
}

.delete_history_btn{
  color: var(--font-color);
  padding: 10px;
  border:none;
  background-color: var(--secondary-color);
  display: flex;
  gap: 10px;
  align-items: center;
  
  outline: 2px solid var(--secondary-color);
  &:hover{
    background-color: transparent;
    /* outline: none; */
    color: white;
  }
}

.delete_history_btn img{
  width: 20px;
}

.form_for_adding{
  display: none;
}

@media screen and (max-width: 910px){
  
  .user_profile{
    font-size: .7rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .user_avatar{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 1;
    position: relative;
    top: 50%
  }

  .user_profile_options{
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem;
    width: 40%;
    min-width: 200px;
  }

  .user_profile_options >div{
   
    padding-inline: .5rem;
    align-content: center;
  }

  .user_profile_options_display{
    padding: .5rem;
  }

  .options_page{
    font-size: 1rem;
    padding: 0;
  }

  .option_materials{
    padding-inline: 0;
  }

  .grid_layout{
    font-size: 1rem;
  }
}

.analytics{
  display: flex;
  justify-content: space-between;
}

.analytics > div{
  width: 50%;
  /* background-color: green; */
  display: flex;
  /* justify-content: center; */
}
