.navigation_header{
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgba(90, 0, 0, 0.96);
    /* background-color: goldenrod; */
    display: grid;
    padding-inline: 20px;
    grid-template-columns: auto 1fr auto;
    /* position: fixed; */
}

.middle_navigation{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navigation_bar ul {
    display: flex;
    justify-content: center;
    height: 1.4rem;
}

.navigation_bar ul li {
    height: 100%;
    list-style-type: none;
    /* background: green; */
    
}

.navigation_bar ul li a {
    height: 100%;
    text-decoration: none;
    color: white;
    padding-inline: 2rem;
    padding-block: .1rem;
    /* background-color: red; */

    &:hover{
        background-color: rgb(33, 33, 33);
    }
}

.btn{
    /* background-color: black; */
    border-radius: 50px;
    width: 100px;
    height: 40px;
    /* border: none; */
    color: white;
}

.search_bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 3rem; */
}
.search_bar input{
    width: 40%;
    border-radius: 30px;
    height: 1.6rem;
    background-color: white;
    padding: 1rem;
    color: black;
    font-size: 1.2rem;
    border: none;
}

.search_bar_results{
    width: 40%;
    background-color: rgba(57, 57, 57,0.99);
    height: 500px;
    padding: 1rem;
    z-index: 78;
    position: absolute;
    top: 94px;
    border: 2px solid black;
    border-radius:0 0 50px 50px;
    overflow-y:scroll;
    scrollbar-width:thin;

    display: block;
}

.search_bar_results ul {
    font-size: .8rem;
    padding-left: 10px;
}

.search_bar_results li{
    list-style-type: none;
    font-size: 1rem;
    padding:2px 0px 2px 20px;
    margin-block: 2px;
    opacity: 0.99;
    display: block;
    /* border: 2px solid black; */
    
    &:hover{
        background-color: black;
    }
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 2rem;
    height: auto;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0);
}

.auth_btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* .auth{
    display: flex;
    align-items: center;
    gap: 10px;
} */
 
/*890px width*/

@media screen and (max-width: 890px) {
    .navigation_bar{
        display: none;
    }
}