.navigation_header{
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgba(90, 0, 0, 0.96);

    /* background-color: var(--bg-color); */
    display: grid;
    padding-inline: 20px;
    grid-template-columns: auto 1fr auto;
    /* position: fixed; */
}

.middle_navigation{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navigation_bar ul {
    display: flex;
    justify-content: center;
    height: 1.4rem;
}

.navigation_bar ul li {
    height: 100%;
    list-style-type: none;
    /* background: green; */
    
}

.navigation_bar ul li a {
    height: 100%;
    text-decoration: none;
    color: white;
    padding-inline: 2rem;
    padding-block: .1rem;
    /* background-color: red; */

    &:hover{
        background-color: rgb(33, 33, 33);
    }
}

.btn{
    /* background-color: black; */
    border-radius: 50px;
    width: 100px;
    height: 40px;
    /* border: none; */
    color: white;
}
.search_bar_section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search_bar{
    width: 100%;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 3rem; */
}
.search_bar input{
    width: 40%;
    border-radius: 30px 0 0 30px;
    padding: 1rem;
    height: 100%;
    font-size: 1.2rem;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    cursor:text;
}

.cancel_btn{
    width: 30px;
    height: 100%;
    padding: 1rem 0;
    display: grid;
    place-content: center;
    height: 100%;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 0 30px 30px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.search_bar_results{
    width: 40%;
    background-color: rgba(57, 57, 57,0.99);
    height: 500px;
    padding: 1rem;
    z-index: 78;
    position: absolute;
    top: 94px;
    border: 2px solid black;
    border-radius:0 0 50px 50px;
    overflow-y:scroll;
    scrollbar-width:thin;

}

.search_bar_results ul {
    font-size: .8rem;
    padding-left: 10px;
}

.search_bar_results li{
    list-style-type: none;
    font-size: 1rem;
    padding:2px 0px 2px 20px;
    margin-block: 2px;
    opacity: 0.99;
    display: block;
    /* border: 2px solid black; */
    
    &:hover{
        background-color: black;
    }
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 2rem;
    height: auto;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0);
}

.auth_btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* .auth{
    display: flex;
    align-items: center;
    gap: 10px;
} */
 
.menu{
    display: none;
}
/*890px width*/

.navigation_bar_sidebar {
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 90px;
    height: 100vh;
    width: 75vw;
    background-color: grey;
    
    /* filter:opacity(.9);
    backdrop-filter: blur(10px); */
}

.navigation_bar_sidebar ul li{
    background-color: rgb(65, 65, 65);
}

.navigation_bar_sidebar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}
.hidden{
    display:none;
}


.profile_avatar{
    background-color: black;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_avatar > img{
    width: 50%;
    height: 50%;
}

.profile_avatar_options{
    height: 300px;
    width: 300px;
    display: block;
    background-color: rgb(69, 69, 69);
    position: absolute;
    right: 0;
    top: 90px;
}

@media screen and (max-width: 890px) {
    

    .navigation_bar{
        display: none;
    }
    
    /* .navigation_bar_sidebar{
        display: block;
    } */

    .navigation_bar ul li {
        background-color: rgb(38, 38, 38);
        height: 20px;
        
    }

    .menu{
        display: block;
    }
    
}

@media screen and (min-width: 890px){
    .navigation_bar_sidebar{
        display: none;
    }
}