.calendar_page {
    padding: 2rem;
}

.calendar_text{
    display: grid;
    /* background-color: green; */
    grid-template-columns: minmax(max-content, 200px) 100px;
    align-items: center;
}

.fc {
    color: var(--font-color);
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, .6);
}

.fc-event {
    background-color: #007bff !important;
    border: none !important;
    color: white !important;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.fc-daygrid-day:hover {
    background-color: var(--secondary-color) !important;
}

/* Header customization */
.fc-toolbar-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--font-color);
    outline: 1px;
    outline-style: dashed;
    outline-color: grey;
    padding: .5rem;
}

.fc-header-toolbar{
    
}

.fc-button{
    background-color: green;

}

.fc-view-harness{

}