
.course_cards_list{
    padding-block: 2rem;
}

.course_card{
    /* background-color: rgba(90, 0, 0, 0.96); */
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 2fr 3fr auto auto;
    padding: 1.2rem 1.2rem;
    margin-block-end: 2rem;
}
/* .course-card{
    width: 8rem;
    height: 5rem;
    background-color: grey;
} */

.course_avatar{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_avatar >div{
    font-family: cursive;
    font-weight: 900;
    font-size: 4.4rem;
}

.course_details{

    align-content: space-around;
}

.course_details > div{
    padding: 10px;
}

.course_name{
    font-size: 1.5rem;
}

.course_ratings{
    color: yellow;
}

.title{
    text-align: center;
}

.add-btn{
    width: 200px;
    height: 50px;
}




.form-for-adding-new{
    background-color: rgb(119, 105, 105);
    position: absolute;
    z-index: 99;
    width: 60%;
    height: 55%;
    border-radius: 50px;
    margin: auto;
    top: 50%;
    bottom: 50%;
    margin-inline: 10rem;
    padding: 2rem;
    
}

.form-for-adding > form{
    
}

.add-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    font-weight: 500;
    /* background-color:var(--secondary-color); */
}
.add-btn > div:first-child {
    font-size: 2rem;
}

/* styles for all */
