
.items_cards_list{
    padding-block: 2rem;
}

.item_card{
    /* background-color: rgba(90, 0, 0, 0.96); */
    background-color: var(--secondary-color);
    /* outline: 2px solid white; */
    display: grid;
    grid-template-columns: 2fr 3fr auto auto;
    padding: 1.2rem 1.2rem;
    margin-block-end: 2rem;

    &:hover{
        /* background-color: var(--secondary-color);
        outline: none; */
    }
}
/* .course-card{
    width: 8rem;
    height: 5rem;
    background-color: grey;
} */

.item_avatar{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_avatar >div{
    font-family: cursive;
    font-weight: 900;
    font-size: 4.4rem;
}

.item_details{
    align-content: space-around;
}

.item_details > div{
    padding: 10px;
}

.item_name{
    font-size: 1.5rem;
}

.item_description{
    font-size: 1rem;
}

.title{
    text-align: center;
}

.add-btn{
    width: 200px;
    height: 50px;
}




.form-for-adding-new{
    background-color: rgb(119, 105, 105);
    position: absolute;
    z-index: 99;
    width: 60%;
    height: 55%;
    border-radius: 50px;
    margin: auto;
    top: 50%;
    bottom: 50%;
    margin-inline: 10rem;
    padding: 2rem;
    
}


.add-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    font-weight: 500;
    /* background-color:var(--secondary-color); */
}
.add-btn > div:first-child {
    font-size: 2rem;
}

/* styles for all */

.add_new_material{
    /* background: rgba(44, 44, 44, 0.8);
    backdrop-filter: blur(15px) saturate(150%); */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
}

.add_new_material_form{
    background-color: #1e2939;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 50%;
    /* height: 100%; */
    /* animation: fade-in 0.3s ease-in-out; */
}

.add_new_material_form_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}



.form_field > label{
    display:block;
    color: white;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form_field > select{
    width: 100%;
    background-color: #374151;
    color: white;
    appearance: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    /* outline:.3px solid white; */
    border: none;
    margin-bottom: 14px;

    &:focus{
        box-shadow: 0 0 0 2px #3b82f6;
    }
}

/* .form_field textarea, input{
    width: 100%;
    background-color: #374151;
    color: white;
    border: none;
    accent-color: white; */
    /* outline: .3px solid white; */
    /* border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 14px;

    &::placeholder{
        color: white;
    }

}

.form_field textarea:focus, .form_field input:focus{
    box-shadow: 0 0 0 2px #3b82f6;
} */

.upload_section > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.upload_section div label {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border: 2px dashed grey;
    border-radius: 10px;

}

.upload_section div label span {
    color: grey;
}



svg{
    width: 20px;
    height: 20px;
}

.upload_text {
    font-size: 1rem;
    color: grey;
}
.hidden{
    display: none;
}

.upload_btns {
    display: flex;
    justify-content: end;

}

.upload_btns button{
    padding: 10px 5px;
    font-size: 1rem;
    color: grey;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}