


.course_layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.item_card{
    /* background-color: rgba(90, 0, 0, 0.96); */
    background-color: rgba(82, 82, 82, .3); 
    /* opacity: .2; */
    border: 1px solid var(--secondary-color);
    display: grid;
    border-collapse: collapse;
    grid-template-columns: .3fr 1fr auto auto;
    /* gap: 2rem; */
    padding: 1.2rem 1.2rem;
    /* margin-block-end: 2rem; */
    box-shadow: none;

    &:hover{
        /* background-color: rgb(226, 223, 204); */
        /* background-color: rgb(51, 198, 242); */
        box-shadow:-2px -2px grey inset;
        /* outline: none; */
    }
}
/* .course-card{
    width: 8rem;
    height: 5rem;
    background-color: grey;
} */

.item_avatar{
    width: 20rem;
    height: 10rem;
    border-radius: 15px;
    background-color: white;
    /* background: linear-gradient(to right , #003092, #00879E ); */
    /* background: linear-gradient(to right , #780C12, #CAE0BC ); */

    /* background:linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,.8) 100%), url(../../assets/background2.png); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_avatar > div{
    font-family:monospace;
    font-weight: 900;
    font-size: 2rem;
    color: black;
}

.item_details{
    align-content: space-around;
    color: white;
}

.item_details > div{
    padding: 10px;
}

.item_name{
    font-size: 1.8rem;
}

.item_description{
    font-size: 1.2rem;
}

